

<div class="container">
    <h3 style="margin-top:30px">Review your Favourite Movies Here</h3>
    <div style="margin-top:20px">

        <div class="row">
            <div class="col-md-4">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputAmount">Search</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon glyphicon-facetime-video"></span> </div>
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                            <div class="input-group-addon"><span class="glyphicon glyphicon glyphicon-search"></span></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="padding-top:20px" id="bodyId">
    @{Html.RenderAction("WishListGrid");}
</div>

<script type="text/javascript">

        function fnUpdateFromGrid(movieCode) {
            debugger;
            
            var genre = $('#genreId').val();           
            var performance = $('#performanceId').val();
            var direction = $('#directionId').val();
            var editing = $('#editingId').val();
            var writing = $('#writingId').val();
            var moviecode = $(movieCode).data('assigned-id');






            $.ajax({
                type: "POST",
                url: '@Url.Action("WishListGrid", "Home")',
                data: { movieCode: moviecode, action: 'Update', genre: genre, performance: performance, direction: direction, editing: editing, writing: writing },
                dataType: "html",
                async: false,
                // contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $('#bodyId').html("");
                    $('#bodyId').html(data);
                },
                error: function (xhr) {
                    alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });


        }






        function fnEditFromGrid(movieCode) {
            debugger;
            var movcode = $(movieCode).data('assigned-id');


            $.ajax({

                type: "POST",
                url: '@Url.Action("WishListGrid", "Home")',
                data: { movieCode: movcode, action: 'Edit' },
                dataType: "html",
                async: false,
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $('#bodyId').html("");
                    $('#bodyId').html(data);
                },
                error: function (xhr) {
                    alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });


        }







</script>